body 
{
	padding-top: 70px;
}
.image-brand
{
	background-image: url(/views/img/ibg_logo.jpg);
	background-position: center 47%;
 	width: 92px;
 	height: 24px;
    overflow:hidden;
    background-color: #EEEEEE;
    background-repeat: no-repeat;
    display: block;
}
.table th, td
{
	text-align: center;
}
.table th
{
	color: #fff;
}
thead
{
	background-color: #337ab7;
}
#selectPagination
{
	width: 8%; 
	padding: 6px 17px;
	float: right;
}
#movie-info
{
	width: 32%;
	margin: 0 auto;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

#movie-info .list-group
{
	margin-bottom: 0px;
}

.jumbotron hr
{
	border-color: #555;
}
#myTabContent
{
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #ddd;
	border-top-color: transparent;
}
.half-div
{
	width: 50%;
	margin: 0 auto;
}
#btn-login, #btn-reg
{
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
.remember-me
{
	margin: 10px !important;
}
.create-form
{
	margin-bottom: 25px;
}
.create-form-bottom
{
	margin-bottom: 20px;
	width: 100%;
}